.custom-card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    display: inline-block; /* כדי שהדיב יהיה בגודל של התוכן בלבד */
  }
  
  .custom-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px; /* כדי להתאים לגודל הכפתור במטריאל */
    height: 36px;
    border-radius: 50%;
    transition: background-color 0.3s ease; /* טרנזישן כאשר העכבר חולף מעל הכפתור */
  }
  
  .custom-button:hover {
    background-color: rgba(0, 0, 0, 0.08); /* שינוי צבע רקע בעטיפה בעת העברת העכבר */
  }